<?xml version="1.0" encoding="utf-8"?>

<!--https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file-->

<!--Important commands (PM):-->
<!--dotnet nuget list source-->

<!--Config files:-->
<!--c:\Program Files (x86)\NuGet\Config\-->

<configuration>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>

	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>